


ul li{
	text-decoration: none;
	display: inline-block;
	float: right;
	margin: 10px;
	border: 2px solid white;
	color: white;
	padding: 5px 10px 5px 10px;
	border-radius: 30px 1px 30px 30px;
	box-shadow: rgba(0, 0, 0, 0.6) 7px 7px 7px;
	transition: 0.5s ease;
	background-color: transparent;
}




ul li:hover {
	text-decoration: none;
	display: inline-block;
	float: right;
	margin: 5px;
	border: 2px solid black;
	color: black;
	padding: 5px 10px 5px 10px;
	border-radius: 30px 30px 30px 30px;
	box-shadow: rgba(0, 0, 0, 1.0) 15px 15px 15px;
	transition: 0.3s ease;
	background-color: transparent;
}